@import 'tailwindcss';
@import 'tailwindcss-primeui';
@import 'primeicons/primeicons.css';

@theme {
  --font-logo: 'Knewave', cursive;
  --font-body: 'Ubuntu', sans-serif;
  --primary-light: #ccff8c;
  --primary: #81de76;
  --primary-dark: #5b9a53;
  --accent-dark: #3a55b4;
  --accent-light: #6caddf;
  --accent-soft: #8cd9ff;
  --neutral-dark: #282828;
  --neutral-muted: #9e9e9e;
  --neutral-light: #f0f0f0;
  --neutral-soft: #f9f9f9;
}
